/* CSS declarations go here */
.row {
    width: 100%
}
.application {
    height:100%;
}
.container{
    height: 100%;
}
.money {
    display:block;
}
.money-card {
    float:left;
    width: 40%;
    margin: 5px;
}
.income {
    background: #4CAF50;
    border-radius: 20px;
    height: 80px;
    position:relative;
}
.tab-container {
    height:100%;
}
.income-overlay  {
    background: orange;
    width: 50%;
}
.salary-well {
    text-align:center;
}
#render-target {
    height:100%;
}
.tab-container {
    width: 80px;
    position:fixed;
    height:100%;
}
.app-container {
    position:fixed;
    height:100%;
    margin-left:80px;
    width:100%;
    overflow:scroll;
    padding:5px;
}
.tabs {
    width:100%;
    height:100%;
    background: #132437;
    :hover {
        background-color: #ddd;
    }
    button {
        height:50px;
        display: block;
        background: inherit;
        width:100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        color: white;

    }
}
.content {
    height:100%;
}
